




// =======================================================================
// ================================ Bootstrap ============================
// =======================================================================
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/variables";
// =======================================================================
// ================================ Variables ============================
// =======================================================================
// Social color
$facebook: #3b5998;
$instagram: #e4405f;
$linkedin: #007bb5;
$pinterest: #007bb5;
:root {
  --header-height: 3.5rem;
  // Colors
  --primary-color:rgb(238, 78, 78);
  --secondary-color: #193a80;
  --text-color: #1f2022;
  --title-color: #3e4657;
  --description-color: #676b74;
  --meta-color: #817e7e;
  --desable-color: #dbdbdb;
  --background-color: #193a7f;
  --border-color: #e8e8e8;
  --white-color: #ffffff;
  --body-color: #ffffff;
  --body-font: "Poppins", sans-serif;
  --heading-font: "Anton", sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;
  --z-10: 10;
  --z-100: 100;
  --z-999: 999;
  @media screen and (max-width: 992px) {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.775rem;
  }
}
// =======================================================================
// ================================== Base css ===========================
// =======================================================================
// selection
*::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}
// custrom Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}
body {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--body-color);
}
a {
  text-decoration: none;
}
input {
  border: none !important;
  outline: none !important;
}

.btn {

  align-items: center;
  border: none;
  outline: none;
}
// =======================================================================
// ================================= Import CSS ==========================
// =======================================================================
@import './base/base';
// components
@import "./Components/banner";
// pages
@import "./pages/home";
// =======================================================================
// ================================Production CSS=========================
// =======================================================================
.home-page-main{
  display: flex;
}
.side-appbar{
  width: 300px;
  background-color: red;
}
.body-side{
  background-color: blue;
  flex-grow: 1;
  height: 100vh;
}
.top-appbar{
  background-color: green;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar{
    width: 100%;
    margin: 0;
  }
  .menu-bar{
    .btn{
      box-shadow: none;
    }
   svg{
    width: 25px !important;
    height: 25px !important;
    fill:var(--text-color) ;
   }
  }
  
}
.profile-sect{
    svg{
      width: 20px !important;
      height: 20px !important;
      fill: var(--title-color) !important;
    }
    
}
.navbar-collapse{
flex-basis: auto;
}